[Unit]
Description=Sway idle and locking handler
Documentation=man:swayidle(1)
After=graphical-session.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway" ""
ExecStart=/usr/bin/swayidle -w
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
