{{ if and .managePackages (or (eq (get .chezmoi.osRelease "id") "arch") (eq (get .chezmoi.osRelease "idLike") "arch")) -}}
#!/usr/bin/env bash
set -euo pipefail
{{ template "scriptLogging" . }}

{{- if lookPath "paru" | not }}
info "Installing paru AUR helper"

sudo pacman -S --needed ${CI:+--noconfirm} git base-devel rust

tmpdir=$(mktemp -d)
trap 'rm -rf "$tmpdir"' EXIT

git clone https://aur.archlinux.org/paru.git "$tmpdir/paru"
cd "$tmpdir/paru" || exit 1
makepkg -si ${CI:+--noconfirm}

{{- else }}
info "paru is already installed, skipping installation"
{{- end }}

{{ end -}}

