#!/usr/bin/env bash
set -uo pipefail
{{ template "scriptLogging" . }}

# tmux.conf hash: {{ include "dot_config/tmux/tmux.conf" | sha256sum }}

# Check if tmux-sessionx is installed and TMUX_PLUGIN_MANAGER_PATH is set
if [[ -z "${TMUX_PLUGIN_MANAGER_PATH:-}" ]]; then
  warn "TMUX_PLUGIN_MANAGER_PATH is not set. Skipping patch, run 'chezmoi apply -R' again once it is set."
  exit 0
fi

# See: https://github.com/omerxx/tmux-sessionx/issues/172
read -r -d '' enable_zoxide_mode <<'EOF'
diff --git a/scripts/sessionx.sh b/scripts/sessionx.sh
index 2a5cc9d..e0926a4 100755
--- a/scripts/sessionx.sh
+++ b/scripts/sessionx.sh
@@ -2,7 +2,7 @@
 
 CURRENT_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
 CURRENT="$(tmux display-message -p '#S')"
-Z_MODE="off"
+Z_MODE="on"
 
 source "$CURRENT_DIR/tmuxinator.sh"
 source "$CURRENT_DIR/fzf-marks.sh"
EOF

if ! git -C "$TMUX_PLUGIN_MANAGER_PATH/tmux-sessionx" apply --reverse --check <<<"$enable_zoxide_mode"; then
  info "Applying patch to enable zoxide mode in tmux-sessionx"
  git -C "$TMUX_PLUGIN_MANAGER_PATH/tmux-sessionx" apply <<<"$enable_zoxide_mode"
fi
