#!/usr/bin/env bash
set -euo pipefail
{{ template "scriptLogging" . }}

{{- template "hashList" glob ".config/bat/**/*" }}

{{- if lookPath "bat" }}
info "Rebuilding bat cache"
bat cache --build
{{- else }}
warn "bat not found in PATH, skipping cache rebuild"
{{- end }}
