#!/usr/bin/env bash
set -euo pipefail
{{ template "scriptLogging" . }}

echo "TODO: apply workaround for WSLg from https://wiki.archlinux.org/title/Install_Arch_Linux_on_WSL#Run_graphical_applications_with_WSLg"
