#!/usr/bin/env bash
set -euo pipefail

{{ template "scriptLogging" }}
{{ template "hashList" (glob (joinPath .chezmoi.homeDir ".config/nvim/**/*")) }}

{{ if lookPath "nvim" }}
nvim --headless "+Lazy! restore" +qa
{{ else }}
warn "nvim not found in PATH. Skipping Lazy restore."
{{ end }}
