{{ if or (eq (get .chezmoi.osRelease "id") "arch") (eq (get .chezmoi.osRelease "idLike") "arch") -}}
#!/usr/bin/env bash
set -euo pipefail

{{ template "scriptLogging" . }}

info "Enabling colors in pacman output"
sudo sed -i 's/^#Color/Color/' /etc/pacman.conf
{{ end -}}
