#!/usr/bin/env bash
set -euo pipefail
{{ template "scriptLogging" . }}

{{- range glob (joinPath .chezmoi.homeDir ".config/bat/**/*") }}
# hash({{ . }}): {{ . | sha256sum }}
{{- end }}

{{- if lookPath "bat" }}
info "Rebuilding bat cache"
bat cache --build
{{- else }}
warn "bat not found in PATH, skipping cache rebuild"
{{- end }}
