#!/usr/bin/env bash
set -euo pipefail
{{ template "scriptLogging" . }}

# tmux.conf hash: {{ include "dot_config/tmux/tmux.conf" | sha256sum }}

{{- if isExecutable "/usr/share/tmux-plugin-manager" }}
/usr/share/tmux-plugin-manager/bin/install_plugins
/usr/share/tmux-plugin-manager/bin/update_plugins all
{{- else }}
echo "tmux-plugin-manager not found in /usr/share/tmux-plugin-manager"
{{- end }}
