#!/usr/bin/env bash
set -euo pipefail
{{ template "scriptLogging" . }}

# hash: {{ include "dot_config/mise/conf.d/tools.toml" | sha256sum }}

{{ if lookPath "mise" }}
info "Syncing mise configuration"
mise install --cd ~
mise prune --cd ~ --yes
mise reshim
{{ else }}
warn "mise not found in PATH, skipping mise installation"
{{ end }}
