#!/usr/bin/env bash
set -euo pipefail
{{ template "scriptLogging" . }}

# hash: {{ include "dot_config/mise/config.toml" | sha256sum }}

info "Syncing mise configuration"
mise install --cd ~
mise prune --cd ~ --yes
mise reshim
