{{- if .isWSL -}}
#!/usr/bin/env bash
set -euo pipefail
{{ template "scriptLogging" . }}

mkdir -p ~/.local/share/fonts
ln -sf /mnt/c/Windows/Fonts ~/.local/share/fonts/windows

fc-cache -f
{{- end }}
