tools/ # a directory for custom scripts and tools
docs/
Dockerfile
CLAUDE.md
AGENTS.md
README.md
.prettierrc.yaml
.gitignore

{{- /* Ignore these if not on Arch Linux */ -}} 
{{- if ne .chezmoi.osRelease.id "arch" }}
.config/paru
{{- end }}


{{- /* Ignore these if not in WSL */ -}}
{{- if not .isWSL }}
.local/bin/wsl
{{- end }}

{{- /* Ignore these if systemd is not available */ -}}
{{- if not (stat "/run/systemd/system") }}
.config/systemd
{{- end }}

{{- /* Ignore these if gui is not enabled */ -}} 
{{- if not .gui }}
.config/autostart
.config/ghostty
.config/hypr
.config/kitty
.config/swaylock
.config/swaync
.config/waybar
.config/spotify-launcher.conf
{{- end }}
