[".local/share/oh-my-zsh"]
type = "git-repo"
url = "https://github.com/ohmyzsh/ohmyzsh"
refreshPeriod = "168h"

[".config/bat/themes/Catppuccin Mocha.tmTheme"]
type = "file"
url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Mocha.tmTheme"
refreshPeriod = "168h"

[".config/git/delta/catppuccin.gitconfig"]
type = "file"
url = "https://github.com/catppuccin/delta/raw/refs/heads/main/catppuccin.gitconfig"
refreshPeriod = "168h"

[".config/zellij/plugins/vim-zellij-navigator.wasm"]
type = "file"
url = "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.3.0/vim-zellij-navigator.wasm"
refreshPeriod = "168h"

[".config/zellij/plugins/zjstatus.wasm"]
type = "file"
url = "https://github.com/dj95/zjstatus/releases/download/v0.22.0/zjstatus.wasm"
refreshPeriod = "168h"

[".config/zellij/plugins/zjstatus-hints.wasm"]
type = "file"
url = "https://github.com/b0o/zjstatus-hints/releases/download/v0.1.4/zjstatus-hints.wasm"
refreshPeriod = "168h"

[".config/zellij/plugins/zellij-forgot.wasm"]
type = "file"
url = "https://github.com/karimould/zellij-forgot/releases/download/0.4.2/zellij_forgot.wasm"
refreshPeriod = "168h"

[".config/zellij/plugins/zellij-switch.wasm"]
type = "file"
url = "https://github.com/mostafaqanbaryan/zellij-switch/releases/download/0.2.1/zellij-switch.wasm"
refreshPeriod = "168h"

# zellij-autolock: uncomment to enable auto-locking for nvim/fzf/atuin
# [".config/zellij/plugins/zellij-autolock.wasm"]
# type = "file"
# url = "https://github.com/fresh2dev/zellij-autolock/releases/download/0.2.2/zellij-autolock.wasm"
# refreshPeriod = "168h"

[".config/ghostty/themes/Catppuccin Mocha"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/ghostty/main/themes/catppuccin-mocha.conf"
refreshPeriod = "168h"

{{ if .notesRepoUrl -}}
["notes"]
type = "git-repo"
url = {{ .notesRepoUrl | quote }}
{{- end }}
