[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "nvim"]
	path = nvim
	url = https://github.com/Prioe/init.lua
[submodule "dotbot-brewfile"]
	path = dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "dotbot-asdf"]
	path = dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
