#!/usr/bin/env bash

{{- range glob (joinPath .chezmoi.homeDir ".config/bat/**/*") }}
# hash({{ . }}): {{ . | sha256sum }}
{{- end }}

{{- if isExecutable "bat" }}
echo "Rebuilding bat cache"
bat cache --build
{{- else }}
echo "bat not found in PATH, skipping cache rebuild"
{{- end }}
