#!/usr/bin/env bash
# vim:ft=bash

# tmux.conf hash: {{ include "dot_config/tmux/tmux.conf" | sha256sum }}

/usr/share/tmux-plugin-manager/bin/install_plugins
/usr/share/tmux-plugin-manager/bin/update_plugins all
