{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/usr/bin/env bash
set -euo pipefail
# shellcheck source=tools/script_logging.sh
. {{ joinPath .chezmoi.sourceDir "tools/script_logging.sh" }}
script_start

info "Installing packages using paru"
paru -S --needed {{ quoteList .packages.archlinux.pacman | join " " }} {{ quoteList .packages.archlinux.aur | join " " }}

script_end
{{ end -}}

