#!/usr/bin/env bash
set -euo pipefail
# shellcheck source=tools/script_logging.sh
. {{ joinPath .chezmoi.sourceDir "tools/script_logging.sh" }}
script_start

{{- range glob (joinPath .chezmoi.homeDir ".config/bat/**/*") }}
# hash({{ . }}): {{ . | sha256sum }}
{{- end }}

{{- if lookPath "bat" }}
info "Rebuilding bat cache"
bat cache --build
{{- else }}
warn "bat not found in PATH, skipping cache rebuild"
{{- end }}

script_end
