{{- if not .isWSL }}
Host *
  IdentityAgent ~/.1password/agent.sock

{{ end -}}
{{- if .hasOP }}
Host geonosis
    HostName {{ onepasswordRead "op://Private/geonosis/ip" }}
    Port {{ onepasswordRead "op://Private/geonosis/port" }}
{{ end -}}
