# vim:filetype=gitconfig
[user]
	email = michael@prio.one
	name = Michael Albertz

[init]
	defaultBranch = main

[help]
	autocorrect = 1

[rerere]
	# Remember resolutions of conflicted merges
	enabled = true

[pull]
  rebase = true

[include]
	path = ~/.config/git/config.local

[core]
    pager = delta
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    sshCommand = ssh.exe
{{- end }}

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

[merge]
    conflictstyle = zdiff3

[include]
	path = ~/.config/git/delta/catppuccin.gitconfig

[delta]
	features = catppuccin-mocha

{{ if lookPath "git-lfs" }}
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
{{ end }}
