#!/usr/bin/env bash

# Git
alias gc='git commit'
alias gp='git push'

# Folders
alias dot='$DOTFILES'
alias code='$HOME/code'
alias notes='$HOME/notes'

# Quick access to some config files
alias ev='nvim $XDG_CONFIG_HOME/nvim'
alias et='nvim $XDG_CONFIG_HOME/tmux'

# Eza
alias ls="eza --icons --git"
alias l="eza -l --icons --git -a"
alias lt="eza --tree --level=2 --long --icons --git"

# zoxide
alias cd='z'

# bat
alias cat='bat --paging=never --style=plain'
# colorize help pages
alias -g -- -h='-h 2>&1 | bat --language=help --style=plain'
alias -g -- --help='--help 2>&1 | bat --language=help --style=plain'

# fastfetch
alias fetch='fastfetch'

alias chezmoi-work='chezmoi --config "$XDG_CONFIG_HOME/chezmoi-work/chezmoi.toml" --persistent-state "$XDG_CONFIG_HOME/chezmoi-work/chezmoi.boltdb" --source "$XDG_DATA_HOME/chezmoi-work"'

{{- if or (eq (get .chezmoi.osRelease "id") "arch") (eq (get .chezmoi.osRelease "idLike") "arch") }}
#Search repos with 'paru' and 'fzf'
alias parus="paru -Slq | fzf --multi --preview 'paru -Si {1}' | xargs -ro paru -S"

#Search locally installed packages with 'paru', 'fzf' and 'bat'
alias parup="paru -Qq | fzf --preview 'paru -Qil {}' --layout=reverse --bind 'enter:execute(paru -Qil {} | bat)'"
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
# Homebrew
alias bbd='brew bundle dump --tap --formula --cleanup --force --verbose --file=$DOTFILES/Brewfile && brew bundle install --file=$DOTFILES/Brewfile'
{{- end }}
