#!/usr/bin/env zsh

## HEAVILY inspired by:
## https://github.com/Phantas0s/.dotfiles/blob/master/zsh/zshrc
## https://thevaluable.dev/zsh-install-configure-mouseless/

# To enable zsh startup profiling, uncomment the following line and $ zprof at the end of the file
# zmodload zsh/zprof

fpath=($ZDOTDIR/plugins $fpath)

# Create cache and completions dir and add to $fpath
mkdir -p "$ZSH_CACHE_DIR/completions"
(( ${fpath[(Ie)$ZSH_CACHE_DIR/completions]} )) || fpath=("$ZSH_CACHE_DIR/completions" $fpath)

# dircolors
eval $(dircolors -p | perl -pe 's/^((CAP|S[ET]|O[TR]|M|E)\w+).*/$1 00/' | dircolors -)

# +------------+
# | NAVIGATION |
# +------------+

setopt AUTO_CD              # Go to folder path without using cd.

setopt AUTO_PUSHD           # Push the old directory onto the stack on cd.
setopt PUSHD_IGNORE_DUPS    # Do not store duplicates in the stack.
setopt PUSHD_SILENT         # Do not print the directory stack after pushd or popd.

setopt CORRECT              # Spelling correction
setopt CDABLE_VARS          # Change directory to a path stored in a variable.
setopt EXTENDED_GLOB        # Use extended globbing syntax.

# source $ZDOTDIR/plugins/bd.zsh

# +---------+
# | HISTORY |
# +---------+

setopt EXTENDED_HISTORY          # Write the history file in the ':start:elapsed;command' format.
setopt SHARE_HISTORY             # Share history between all sessions.
setopt HIST_EXPIRE_DUPS_FIRST    # Expire a duplicate event first when trimming history.
setopt HIST_IGNORE_DUPS          # Do not record an event that was just recorded again.
setopt HIST_IGNORE_ALL_DUPS      # Delete an old recorded event if a new event is a duplicate.
setopt HIST_FIND_NO_DUPS         # Do not display a previously found event.
setopt HIST_IGNORE_SPACE         # Do not record an event starting with a space.
setopt HIST_SAVE_NO_DUPS         # Do not write a duplicate event to the history file.
setopt HIST_VERIFY               # Do not execute immediately upon history expansion.

# +---------+
# | ALIASES |
# +---------+

source $ZDOTDIR/aliases

# +---------+
# | SCRIPTS |
# +---------+

source $ZDOTDIR/scripts.zsh

# +-----------+
# | PROFILING |
# +-----------+

# zmodload zsh/zprof

# +---------+
# | PLUGINS |
# +---------+

source "$ZDOTDIR/completion.zsh"
source "$ZDOTDIR/bindings.zsh"

# +---------------------+
# | SYNTAX HIGHLIGHTING |
# +---------------------+

plugins=(
  # custom located in $ZDOTDIR/plugins
  vi-mode.zsh
  # globally installed
  zsh-autosuggestions/zsh-autosuggestions.zsh
  zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
  # oh-my-zsh
  lib/key-bindings.zsh
  plugins/vi-mode/vi-mode.plugin.zsh
  plugins/zoxide/zoxide.plugin.zsh
  plugins/starship/starship.plugin.zsh
  plugins/mise/mise.plugin.zsh
)

# Load plugins defined above
source $ZDOTDIR/plugins.zsh

# WSL specific
{{- if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
source $ZDOTDIR/wsl.zsh
{{-   end }}
{{- end }}

# Atuin
eval "$(atuin init zsh)"

# zprof
